form {
    margin-top: 7rem; 
  }
  
  mat-form-field {
    width: 300px; 
  }
  
  button[type="submit"] {
    color: #ffffff;
    margin: 20px auto 0 auto; 
    display: block; 
  }
  
  section {
    margin-bottom: 6.5rem; 
  }
  
  div[fxLayout="column"] {
    align-items: center; 
  }
  
.error-message {
  color: #d60707;
  padding: 10px 20px; 
  margin-top: 15px; 
  font-size: 15px; 
  font-weight: bold; 
  text-align: center; 
  max-width: 300px; 
}
