<div>
  <h2>{{ newFormTemplate.id ? 'Edit Template' : 'Create New Form Template' }}</h2>
  <form (ngSubmit)="saveTemplate()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput id="name" type="text" [(ngModel)]="newFormTemplate.name" name="name" placeholder="Enter template name" required #nameInput="ngModel">
      <mat-error *ngIf="nameInput.hasError('required')">Name is required</mat-error>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput  id="description" [(ngModel)]="newFormTemplate.description" name="description" placeholder="Enter template description" #descriptionInput="ngModel"></textarea>
      <mat-error *ngIf="descriptionInput.hasError('maxlength')">
        Description cannot exceed 250 characters
      </mat-error>
    </mat-form-field>
    
    <button
    type="submit"
    mat-raised-button
    color="primary"
    style="margin-top: 10px; background-color: rgb(59, 48, 49); width: 200px;">{{ newFormTemplate.id ? 'Update' : 'Create' }}
  </button>
  </form>

  <h2>Templates</h2>
  <table mat-table  [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%; margin-top: 20px;">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let template">{{ template.name }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let template">{{ template.description }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let template">
        <button mat-button color="primary" (click)="editTemplate(template)">Edit</button>
        <button mat-button color="warn" (click)="deleteTemplate(template.id)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


</div>
