body, html {
    height: 100%; 
    margin: 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

h2{
    text-align: center;
}

form {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 24px; 
    margin: 20px auto; 
    width: 60%; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 8px; 
    background-color: #f9f9f9; 
}

.name-desc {
    display: flex;
    flex: 1; 
    flex-direction: column; 
    min-width: 20%; 
    gap: 16px;
}

.form-fields {
    display: flex;
    flex: 1; 
    flex-direction: column; 
    min-width: 20%; 
    gap: 16px;
    align-items: flex-start;
}

mat-form-field {
    width: 100%; 
}

.add-field {
    width: 50%; 
    margin-top: 6%;
}

.field-table {
    display: flex; 
    justify-content: center; 
    margin: 20px auto; 
    width: 60%; 
}

table {
    width: 100%; 
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 30px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center; 
    vertical-align: middle;
}

table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

table td {
    overflow-wrap: break-word;
}

table tr {
    border-bottom: 1px solid #ccc;
}

.templates-table{
    margin-left: 10%;
    margin-right: 10%;
}

.button-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 20px; 
}

button {
    color: white; 
    border: none; 
    border-radius: 4px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: rgb(79, 68, 69); 
}

